.search-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form__wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;

}

.search-form__input {
  flex-grow: 1;
  height: 48px;
  padding: 0 22px;
  font-size: 12px;
  line-height: 18px;
  border: none;
  background-color: #f9f9f9;
}

.search-form__button {
  width: 70px;
  height: 48px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f9f9f9;
  color: #000;
  border: none;
  cursor: pointer;
  transition:background-color 0.1s;
}

.search-form__button:hover {
  background-color: black;
  color: #fff;
}


.search-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 50px;
}

.search-form__error-message {
  position: absolute;
  width: 200px;
  margin: 0;
  font-size: 12px;
  height: 20px;
  top: 30px;
  left: -8px;
  color: #ee3465;
}

@media screen and (max-width: 568px) {
  .search-form {
    margin-top: 75px;
    gap: 40px;
  }
}
